@using BlazorLottie.AnimationConfiguration
@using BlazorLottie.RendererConfiguration

<div onclick="@OnClick">
    <Lottie 
        AnimationConfig="@_animationConfig"
        Paused="@_paused"
        Direction="@_direction"
        Speed="@_speed"
    />
</div>
<Button Color="Color.Primary" @onclick="@ChangeDirection">@_direction</Button>
<Button Color="Color.Primary" @onclick="@ChangeSpeed">@(_speed + "x")</Button>


@code
{
    private bool _paused = false;
    private AnimationDirection _direction = AnimationDirection.Backward;
    private double _speed = 1.0;

    private readonly AnimationConfig _animationConfig = new AnimationConfigWithPath("https://assets2.lottiefiles.com/datafiles/WFKIUGAVvLl1azi/data.json")
    {
        Autoplay = true,
        Loop = true,
    };

    private void OnClick()
    {
        _paused = !_paused;
    }

    private void ChangeDirection()
    {
        _direction = _direction == AnimationDirection.Forward ? AnimationDirection.Backward : AnimationDirection.Forward;
    }

    private void ChangeSpeed()
    {
        _speed += .5;
        _speed %= 3;
    }
}
